body, html {
    margin: 0;
    padding: 0;
    background-color: #ebe7e1;
    font-family: Verdana, sans-serif
}
.centered_text {
    position: relative;
    padding: 4px; 
    width: 100%;
    height: 80px;
    text-align: center; 
}
.centered_text h1{
    letter-spacing: 10px;
    font-size: 40px;
    color: #134120ce;
}
.box{
    position: relative;
    width: 500px;
    height: 300px;
    background-color:  #f7f7f7;
    margin: 35px auto;
    box-shadow: 0 0 10px #5a5a5a7c;
    letter-spacing: 2px;
}
.tile{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: #134120ce;
}
.tile h1{
    position: relative;
    top: 25%;
    left: 5%;
    font-size: 30px;
    color: white;
}
.right{
    margin: 25px;
    text-align: right;
}
.left{
    margin: 25px;
}
.green{
    color: green;
}
.thickgreen{
    color: rgb(8, 92, 8);
    font-weight: bold;
    font-style: italic;
}
